body {
  margin: 0;
  padding: 0;

  background-image: url("images/foret_pin_flou_2.jpg");
  background-size: cover; /* Permet de couvrir toute la zone de la page */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image sur la page */
  background-attachment: fixed; /* Garde le fond fixe lors du défilement */

  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center;
}

main {
  padding: 20px;

  width: 80%; /* Prend 80% de la largeur de la fenêtre */
  max-width: 1100px; /* Prend au maximum 1200 pixel de la largeur de la fenêtre */
  min-height: 1000px; /* Prend minimum 100% de la hauteur de la fenêtre */
  background-color: #eee;
  font-family: sans;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none; /* Supprime le soulignement par défaut du lien */
  color: inherit; /* Hérite de la couleur de l'article pour éviter de colorer le texte */
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title h1 {
  margin: 0 0 0 10px;

  color: #263526;
}

#langue_switch {
  border-radius: 30px;
  border: 7px solid transparent;
  box-shadow: 0 1px 4px 3px #6B788820;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#langue_switch:hover {
  box-shadow: 0 1px 4px 3px #6B788815;
}

#langue_switch img {
  width: 40px;
  height: 40px;
}

#langue_switch p {
  margin: 5px;

  color: #567263;
  font-style: italic;
}


/* ARTICLE */

.article-link article {
  margin-top: 20px;
  padding: 20px;

  border-radius: 30px;
  background-color: #6B788850;
  box-shadow: 0 4px 4px #6B788820;
}

.article-link article:hover {
  background-color: #6B788860;
  box-shadow: 0 2px 4px #6B788820;
}

.article-link article h2 {
  margin: 0px 10px 0px 40px;

  color: #263526;
}

.article-link article p {
  margin: 10px 0 0 0;

  color: #334433;
}