@font-face {
  font-family: "Roboto Black";
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html {
  --white: #f5f5f5;
  --light-green : #6A874F;
  --green : #334433;
  --dark-green: #263526;
  --gray : #6B7888;
  --shadow: #6B788820;

}

/* FORMAT GÉNÉRAL */

body {
  margin: 0;
  padding: 0;

  background-image: url("../images/foret_pin_flou.jpg");
  background-size: cover; /* Permet de couvrir toute la zone de la page */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image sur la page */
  background-attachment: fixed; /* Garde le fond fixe lors du défilement */

  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center;
}

#bg {
  width: 80%; /* Prend 80% de la largeur de la fenêtre */
  max-width: 1100px; /* Prend au maximum 1200 pixel de la largeur de la fenêtre */
  height: 100%;
  box-shadow: 0 0px 8px 0 var(--green);
  background-color: var(--white);
  position: fixed;

  z-index: 5;
}

a {
  text-decoration: none;
  color: var(--light-green);
}

p a:hover {
  text-decoration: underline;
}

.bouton {
  padding: 0 5px;
  min-width: 100px;
}

.bouton-fleche {
  min-width: 30px;
}

.bouton:hover, .bouton-fleche:hover {
  background-color: var(--light-green);
  color: #fff;
}

.vspace {
  height: 50px;
}

.ligne-centre {
  margin: 0;
  padding-top: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ligne-centre-inverse {
  margin: 0;
  padding-top: 10px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.ligne-element {
  margin-top: 10px;
  padding: 0 20px;

  width: 95%;

  border-left: solid var(--light-green) 10px;
  background-color: var(--shadow);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.ligne-element h3 {
  margin: 16px 0 0 10px;

  font-family: "Roboto Black";
  font-size: 1.4em;
  color: var(--green);
}

.ligne-element h3 em {
  font-size: 0.8em;
}

.ligne-chrono {
  display: flex;
  align-items: center;

}

.ligne-chrono em {
  min-width: 100px;
  text-align: right;
  color: var(--light-green);
}

.ligne-chrono h3 {
  margin-left: 40px;
  margin-bottom: 0;

  color: var(--dark-green);
}

.ligne-chrono em + div {
  margin-left: 20px;
  margin-right: -5px;

  min-width: 8px;
  min-height: 8px;
  border-radius: 3px;
  background-color: var(--light-green);
}

.ligne-chrono em + div + div {
  padding-left: 20px;
  border-left: solid var(--light-green) 2px;
}

.bouton, .bouton-fleche {
  margin: 0 10px;

  line-height: 30px;
  border: solid var(--light-green) 2px;
  border-radius: 17px;
  text-decoration: none;
  text-align: center;
  color: var(--light-green);

  transition: 0.3s;
}


/* HEADER */

header {
  position: fixed;
  
  width: 100%;
  height: 80px;
  box-shadow: 0 8px 4px -2px var(--shadow);
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 15;
}

header h1 {
  margin: 0 0 0 30px;

  font-family: "Roboto Black";
  font-size: 2.5em;
  color: var(--dark-green);
}

#menu-toggle {
  margin: 0 30px 0 0;
  font-size: 2rem;
  background: none;
  border: none;
  z-index: 30;
}

/* NAVIGATION */

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;

  padding: 110px 0;

  box-shadow: -8px 0 4px -2px var(--shadow);
  background: var(--white);

  transform: translateX(100%);
  transition: transform 0.3s ease;

  z-index: 14;
}

#side-menu.open {
  transform: translateX(0);
}

#side-menu nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#side-menu button {
  padding: 0;
  margin: 10px 10px;

  background: none;
  border: none;

  font-family: "Roboto";
  font-size: 1.3em;
  color: var(--gray);
}

#side-menu button:hover {
  text-decoration: underline;
}

#overlay {
  position: fixed;
  inset: 0;
  background: #0002;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 13;
}

#overlay.show {
  opacity: 1;
  pointer-events: auto;
}

#langue_switch {
  border-radius: 20px;
  box-shadow: 0 1px 4px 3px var(--shadow);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#langue_switch img {
  width: 40px;
  height: 40px;
}

/*#langue_switch p {
  margin: 5px;

  color: #567263;
  font-style: italic;
}*/


/* ARTICLE */

main {
  width: 80%; /* Prend 80% de la largeur de la fenêtre */
  max-width: 1100px; /* Prend au maximum 1200 pixel de la largeur de la fenêtre */

  font-family: sans-serif;
  z-index: 10;
/*
  display: flex;
  flex-direction: column;
  gap: 0;*/
}

#content {
  margin: 0 30px;
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content h2 {
  margin-bottom: 20px;

  text-align: center;

  font-family: "Roboto Black";
  font-size: 2em;
  color: var(--dark-green);
}

#content p {
  margin: 10px 0 16px 0;
  text-align: center;

  font-size: 1.1em;
  color: var(--green);
}

#content div p {
  text-align: justify;
}

#content li {
  font-size: 1.1em;
  color: var(--green);
}

#content .texte-centre {
  max-width: 630px;
}

#content .texte-gauche {
  width: 40%;

  text-align: left;
}

#content .texte-droit, #content .ligne-centre-inverse .texte-gauche {
  width: 40%;

  text-align: right;
}

#content .ligne-centre-inverse .texte-droit {
  width: 40%;

  text-align: left;
}

/* ARTICLE BIENVENUE */

#moi {
  margin: 0 15px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#moi + div {
  margin: 0 15px;
  width: 500px;
}

#video {
  margin-top: 20px;
  width: 64dvw;
  max-width: 880px;
  height: 36dvw;
  max-height: 495px;

  background-color: var(--shadow);

  display: flex;
  justify-content: center;
  align-items: center;
}

#video iframe {
  width: 61dvw;
  max-width: 840px;
  height: 33dvw;
  max-height: 473px;
}

/* ACTIVITE PERSONNEL */

/* ARTICLE COURS */
.semestre {
  padding: 0 20px;

  width: 400px;

  background-color: var(--shadow);
}

/* MOBILITE */

.avg-img {
  margin: 0 15px;
  width: 300px;
  height: 200px;
}
